/* I'm absolutely terrible at CSS. I'm trying to make this look functional, so bare with me. */
html, body {
	font-family: arial;
	background-color:#000000;
	color: #FFFFFF;
	margin: 0px 70px;
}
nav {
	text-align:center;
	margin-bottom:5px;
	padding:3px;
}
footer {
	text-align:center;
	margin-top:5px;
}
.button, .button:visited {
	padding:3px;
	color:white;
	border: 1px solid #0000FF;
	text-decoration:none;
}
.button:hover {
	background-color: #FF0000;
}
h1, h2 {
	color:#FFFFFF;
	text-align:center;
}
a, a:visited{
	color: #FFFF00;
}
li {
	margin:5px;
}
table, tr, td {
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
	text-align:center;
}
main {
	border: 1px solid #0000FF;
	margin:auto;
   padding:8px;
	width:95%;
}
